<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @wish.title %>
</p>

<p>
  <b>Description:</b>
  <%= @wish.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @wish.priority %>
</p>

<p>
  <b>Arrival:</b>
  <%= @wish.arrival %>
</p>

<p>
  <b>Status:</b>
  <%= @wish.status_id %>
</p>

<p>
  <b>Category:</b>
  <%= @wish.category_id %>
</p>

<p>
  <b>User:</b>
  <%= @wish.user_id %>
</p>


<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
